<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

<configuration scan="true" scanPeriod="30 seconds">

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <jmxConfigurator/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="rollingFile"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Encoding>UTF-8</Encoding>
        <File>logs/support-auth-api/main.log</File>
        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>log/main-%d{yyyyMMdd}.log
            </FileNamePattern>
            <MaxHistory>2</MaxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern><![CDATA[date:%d{yyyy-MM-dd HH:mm:ss}\tthread:%thread\tlevel:%-5level\tlogger:%-48logger{48}\tmsg:%msg%n]]>
            </Pattern>
        </encoder>
    </appender>

    <logger name="com.lachesis.support.auth" level="debug">
    	<appender-ref ref="rollingFile" />
    </logger> 
         
    <root level="debug">
        <appender-ref ref="rollingFile"/>
    </root>
</configuration>
