<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

<configuration scan="true" scanPeriod="30 seconds">

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <jmxConfigurator/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="rollingFile"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Encoding>UTF-8</Encoding>
        <File>../logs/support-auth-api-main.log</File>
        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>../logs/support-auth-api-main-%d{yyyyMMdd}.log
            </FileNamePattern>
            <MaxHistory>2</MaxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern><![CDATA[%d{yyyyMMdd HH:mm:ss} %thread %-5level %-48logger{48} %msg%n]]>
            </Pattern>
        </encoder>
    </appender>

<!-- 
    <logger name="com.lachesis.support.auth" level="info">
    	<appender-ref ref="console" />
    </logger> 
 -->
    <root level="debug">
        <appender-ref ref="rollingFile"/>
    </root>
</configuration>
